<footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">My Sites</h5>
                <p class="grey-text text-lighten-4">.......................................................</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/skd9a">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/skd9a">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/skd9a/">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto: abc@example.com">Send Em@il</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright By Mr. Sourav Das
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>